<style>
  .dashboard {
    background-color: #5039e5;
    color: white;
  }

  body {
    background-color: #f2f2f2;
  }

  .top {
    background-color: #5039e5;
    color: white;
  }

  .w3 a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    margin-top: 10px;
  }

  ul {
    list-style-type: none;
  }
</style>
<!-- This is the header for the website -->
<div class="dashboard">
  <nav class="w3-navbar w3-card-2 w3-black w3-large">
    <h1 class="w3-left w3-text-blue">&nbsp; The BlueBot</h1>
    <ul class="w3-right">
      <div class="w3">
        <li><a class="w3-blue w3-hover-deep-orange" href="/docs">Docs</a></li>
        <li><a class="w3-blue w3-hover-deep-orange" href="/logout">Logout</a></li>
      </div>
    </ul>
  </nav>
</div>
